<% include header.ejs %>
<style type="text/css">
	body,html{
		margin: 0;
		padding:0;
		height: 100%;
		background-color: white;
	}
	div{
  		/*overflow: hidden;*/
	}
</style>
<body>
	<div class="weather">
	</div>
<% include footer.ejs %>
<script type="text/javascript">
var data = {
}
	$.ajax({
			type : "GET",
			dataType: "jsonp",
			data : data,
			url : "http://api.map.baidu.com/telematics/v3/weather?location=%E5%8C%97%E4%BA%AC&output=json&ak=rcGjGyXAujFGgLOrBFSn8aUiTnpyFN5L",
			success : function(result){
				console.log(result);
				alert("success");
				},
			error: function(error){
				console.log("error");
				alert("error");
			}
		})
</script>
</html>
