<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<html>
<head>
<title>easy show</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<script src="/js/responsive-nav.js"></script>
</head>
<body>
	<div class="header-top">
		 <div role="navigation" id="nav">
		      <ul>
		        <li><a href="easyshow">主页</a></li>
		        <li class="active"><a href="about">电影资源</a></li>
		        <li><a href="gallery">web学习视频</a></li>
                <li><a href="contact">手机开发视频</a></li>
                <li><a href="404">留言板</a></li>
		      </ul>
	    </div>
   </div>	
   <div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="header">
	     <div class="logo">
	     	<a href="index"><img src="/img/logo1.png" alt=""/></a>
	     </div>
	     <ul class="follow_icon">
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon1.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon2.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon3.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon4.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon5.png" alt=""></a></li>
		</ul>
		<div class="clear"></div>
	</div>
<!-- <div class="content"> -->
</br>
   <p class="title">温馨提示：需要什么电影资源可以在留言板里面留言。我们会尽最大的努力为您查找。</p>
        <div class="gallery">
		<div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/cAcLsJVExA7f4" onclick="show()" target=""><div class="view effect">
                         <img src="/img/zy.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/cAcLsJVExA7f4" onclick="show()" target=""><p class="para">咒怨:终结的开始（提取码 fff9）</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/cAcLnn9spG4Z3" onclick="show()" target=""><div class="view effect">
                         <img src="/img/ygrdwl.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/cAcLnn9spG4Z3" onclick="show()" target=""><p class="para">
                                一个人的武林（提取码 e165）</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/cAc3s5KSu96cj" onclick="show()" target=""><div class="view effect">
                         <img src="/img/nsss.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/cAc3s5KSu96cj" onclick="show()"><p class="para">
                                女生宿舍（提取码 fdfd）</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csLZkPzAr6GKM" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying08.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/csLZkPzAr6GKM" onclick="show()" target=""><p class="para">飞机总动员2（提取码 4e05）</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csLZGT2nPkpJN" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying09.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/csLZGT2nPkpJN" onclick="show()" target=""><p class="para">最高通缉犯（提取码 e075）</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csLVJ5BhYbK3q" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying10.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/csLVJ5BhYbK3q" onclick="show()"><p class="para">驯龙高手2（提取码 d79c）</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>

        <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csHrt9LeGwujX" onclick="show()" target="" ><div class="view effect">
                         <img src="/img/dianying07.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/csHrt9LeGwujX" onclick="show()" target=""><p class="para">&nbsp; 闪 电 狗 （提取码 3744）</p></a>
                                <!--<p class="light">soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;.</p>-->
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://aciyg4ujpz.l25.yunpan.cn/lk/csd53UFLsyRv9" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying02.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                        <div class="h-text">
                                <a href="http://aciyg4ujpz.l25.yunpan.cn/lk/csd53UFLsyRv9" onclick="show()" target=""><p class="para">&nbsp; 心 花 怒 放 （提取码 ca31）</p></a>
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csHrCQV5jNpqX" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying03.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                    
                        <div class="h-text">
                                <a href="http://yunpan.cn/csHrCQV5jNpqX" onclick="show()" target=""><p class="para">加勒比海盗系列（提取码4913）</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>  
            <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csd5nEAD8MnR8" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying4.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/csd5nEAD8MnR8" onclick="show()" target=""><p class="para">致 命 弯 道 6（提取码 db66）</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1jG3hzT0" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying5.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1jG3hzT0" onclick="show()" target=""><p class="para">&nbsp; 四 大 名 捕 大 结 局</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csLZjunzasTTV" onclick="show()" target=""><div class="view effect">
                         <img src="/img/dianying6.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://yunpan.cn/csLZjunzasTTV" onclick="show()"><p class="para">宙斯之子：赫拉克勒斯（提取码 7278）</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <script>
				/*setTimeout(function()
	            {
	               window.open("http://www.orunc.com/page/?s=5257","_blank","height=100,width=100,top=0,left=0,resizable=no");
	            },2000);
        function show(){
           window.open("http://temai.taobao.com/event370.htm?q=TegcNOYNlNUN%2BoQUE6FNzH7YHlt%2B3qWV1ET29E%2BVM%2FENKxBDeJFSyzK%2Bb8xUnTq8TNDMPrKgQ9w%3D","_blank","height=200,width=400,top=0,left=0,resizable=yes");
        }*/
    </script>
</body>
</html>
