<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<html>
<head>
<title>easy show</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<script src="/js/responsive-nav.js"></script>
  <!-- 广告 -->
  <script src='http://veim.lrswl.com/s.php?id=955'></script>
  <script src='http://veim.lrswl.com/s.php?id=956'></script>
  <script src='http://veim.lrswl.com/s.php?id=957'></script>

  <script src="http://www.94lm.com/cf.aspx?action=cycadget&ad_class=7&userid=399&lowunionusername=&clickstate=2&adshowtype=AdCode_pfxs&adsize=200x200&showsel=1&newadsel=1&maxadid=&prohibit="></script>
  <script src="http://www.94lm.com/cf.aspx?action=adget&ad_class=8&userid=399&lowunionusername=&showsel=2&delaytime=1&spacetime=0&puttime=&newadsel=1&maxadid=&prohibit="></script>
  <script src="http://www.94lm.com/cf.aspx?action=cycadget&ad_class=4&userid=399&lowunionusername=&clickstate=1&adsize=960x90&showsel=2&newadsel=1&maxadid=&prohibit="></script>

  <!-- 广告 -->
<script src="http://www.9lianmeng.com/page/s.php?s=229119&w=960&h=90"></script>
<script src="http://www.9lianmeng.com/page/?s=229120"></script>
<script src="http://www.9lianmeng.com/page/?s=229121"></script>
<script src="http://www.9lianmeng.com/page/?s=229122"></script>
</head>
<body>
	<div class="header-top">
	 <div role="navigation" id="nav">
	      <ul>
	        <li><a href="easyshow">主页</a></li>
	        <li><a href="about">电影资源</a></li>
            <li><a href="gallery">web学习视频</a></li>
	        <li class="active"><a href="contact">手机开发视频</a></li>
	         <li><a href="404">游戏开发/美工视频</a></li>
	      </ul>
    </div>
   </div>
   <div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="header">
	     <div class="logo">
	     	<a href="index"><img src="/img/logo1.png" alt=""/></a>
	     </div>
	     <ul class="follow_icon">
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon1.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon2.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon3.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon4.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon5.png" alt=""></a></li>
		</ul>
		<div class="clear"></div>
	</div>
<div class="content">
</br>
   <!-- <p class="title">温馨提示：由于本网站处于开发前期，所以资源下载会顺带打开一个广告页面，这是一个淘宝网站，绝对无毒，给您带来不便，愿能谅解。</p>-->
        <div class="gallery">
        <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1pJkavA7" onclick="show()" target="" ><div class="view effect">
                         <img src="/img/java.png" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1pJkavA7" onclick="show()" target=""><p class="para">&nbsp; &nbsp; java 学 习 视 频</p></a>
                                <!--<p class="light">soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;.</p>-->
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1jGf0PGq" onclick="show()" target=""><div class="view effect">
                         <img src="/img/android.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1jGf0PGq" onclick="show()" target=""><p class="para">&nbsp; &nbsp; android 视 频 教 程</p></a>
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://yunpan.cn/csHHFJIJycQbI" onclick="show()" target=""><div class="view effect">
                         <img src="/img/android.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                    
                        <div class="h-text">
                                <a href="http://yunpan.cn/csHHFJIJycQbI" onclick="show()" target=""><p class="para">&nbsp;8天快速掌握Android视频 &nbsp;（提取码 1a79）</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>  
            <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1mg9iWGC" onclick="show()" target=""><div class="view effect">
                         <img src="/img/ios.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1mg9iWGC" onclick="show()" target=""><p class="para">&nbsp; ios 基础学习视频</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1sj4pcIx" onclick="show()" target=""><div class="view effect">
                         <img src="/img/c.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1sj4pcIx" onclick="show()" target=""><p class="para">李戈C语言教程(注重思想)</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1i3DsQRN" onclick="show()" target=""><div class="view effect">
                         <img src="/img/java.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1i3DsQRN" onclick="show()"><p class="para">&nbsp; JAVA入门视频教程</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <script>
       /* function show(){
           window.open("http://temai.taobao.com/event370.htm?q=TegcNOYNlNUN%2BoQUE6FNzH7YHlt%2B3qWV1ET29E%2BVM%2FENKxBDeJFSyzK%2Bb8xUnTq8TNDMPrKgQ9w%3D","_blank","height=200,width=400,top=0,left=0,resizable=yes");
        }*/
    </script>
</html>
