<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<html>
<head>
<title>easy show</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<script src="/js/responsive-nav.js"></script>
<script src="/js/modernizr.js"></script>
</head>
<body>
	<div class="header-top">
	 <div role="navigation" id="nav">
	      <ul>
	        <li class="active"><a href="/easyshow">主页</a></li>
	        <li><a href="/about">电影资源</a></li>
	        <li><a href="/gallery">web学习视频</a></li>
	        <li><a href="/contact">手机开发视频</a></li>
	        <li><a href="/404">游戏开发/美工视频</a></li>
	      </ul>
    </div>
    
    </div>
	<div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="header">
	     <div class="logo">
	     	<a href="index"><img src="/img/logo1.png" alt=""/></a>
	     </div>
	     <ul class="follow_icon">
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon1.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon2.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon3.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon4.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon5.png" alt=""></a></li>
		</ul>
		<div class="clear"></div> 
        </div>
        <div class="content">
</br>
   <!-- <p class="title">温馨提示：由于本网站处于开发前期，所以资源下载会顺带打开一个广告页面，这是一个淘宝网站，绝对无毒，给您带来不便，愿能谅解。</p>-->
        <div class="gallery">
        <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1qW19nOC" onclick="show()" target="" ><div class="view effect">
                         <img src="/img/win10.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1qW19nOC" onclick="show()" target=""><p class="para">win10操作系统镜像</p></a>
                                <!--<p class="light">soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;.</p>-->
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1o48Iq" onclick="show()" target=""><div class="view effect">
                         <img src="/img/3dmax.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1o48Iq" onclick="show()" target=""><p class="para">3dsmax2015 64bit破解版</p></a>
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1c01XJuo" onclick="show()" target=""><div class="view effect">
                         <img src="/img/myeclipse.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                    
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1c01XJuo" onclick="show()" target=""><p class="para">&nbsp;myeclipse10.6汉化破解</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>  
            <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1sj2niVV" onclick="show()" target=""><div class="view effect">
                         <img src="/img/unity3d.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1sj2niVV" onclick="show()" target=""><p class="para">Unity 4.x Pro破解工具</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1hq3Ryuw" onclick="show()" target=""><div class="view effect">
                         <img src="/img/ubuntu.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1hq3Ryuw" onclick="show()" target=""><p class="para">ubuntu-12.0 （64bit镜像）</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1i3EEMXZ" onclick="show()" target=""><div class="view effect">
                         <img src="/img/VMware10.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1i3EEMXZ" onclick="show()"><p class="para">VMware10虚拟机</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="gallery-top">
            </div>
    </div>
    </div>
</body>
</html>
