<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
    <html>
<head>
        <title>easy show</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
        <script src="/js/responsive-nav.js"></script>
        <script src="/js/modernizr.js"></script>
</head>
<body>
        <div class="header-top">
            <div role="navigation" id="nav">
                <ul>
                    <li class="active">
                        <a href="/easyshow">主页</a>
                    </li>
                    <li>
                        <a href="/about">电影资源</a>
                    </li>
                    <li>
                        <a href="/gallery">web学习视频</a>
                    </li>
                    <li>
                        <a href="/contact">手机开发视频</a>
                    </li>
                    <li>
                        <a href="/404">留言板</a>
                    </li>
                </ul>
            </div>

        </div>
        <div role="main" class="main">
            <a href="#nav" id="toggle">Menu</a>
            <div class="header">
                <div class="logo">
                    <a href="index">
                        <img src="/img/logo1.png" alt=""/>
                    </a>
                </div>
                <ul class="follow_icon">
                    <li>
                        <a href="#" style="opacity: 1;">
                            <img src="/img/follow_icon.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#" style="opacity: 1;">
                            <img src="/img/follow_icon1.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#" style="opacity: 1;">
                            <img src="/img/follow_icon2.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#" style="opacity: 1;">
                            <img src="/img/follow_icon3.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#" style="opacity: 1;">
                            <img src="/img/follow_icon4.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#" style="opacity: 1;">
                            <img src="/img/follow_icon5.png" alt=""></a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <p class="title">
            温馨提示：需要什么电影资源可以在留言板里面留言。我们会尽最大的努力为您查找。
        </p>
       
        <div class="gallery">
            <div class="gallery-top">
                <div class="col span_1_of_3">
                    <a href="/bt/【BT吧】[全网唯一720p中字上下卷完整版]-公主恋人OVA-プリンセスラバー!OVA-876.01MB.torrent" onclick="show()" target="" >
                        <div class="view effect">
                            <img src="img/TMqJuu77q217.big.jpg" alt="公主恋人OVA/プリンセスラバー!OVA-720p|1080p高清bt种子下载" title="公主恋人OVA/プリンセスラバー!OVA">
                            <div class="mask"></div>
                            <div class="content">
                                <a href="#" class="info" title="Full Image">Full Image</a>
                            </div>
                        </div>
                    </a>
                    <div class="h-text">
                        <a href="/bt/【BT吧】[全网唯一720p中字上下卷完整版]-公主恋人OVA-プリンセスラバー!OVA-876.01MB.torrent" onclick="show()" target="" alt="公主恋人OVA/プリンセスラバー!OVA" title="公主恋人OVA/プリンセスラバー!OVA">
                            <p class="para">公主恋人OVA/プリンセスラバー!OVA</p>
                        </a>
                        <!--<p class="light">
                        soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;.
                    </p>
                    -->
                </div>
            </div>
            <div class="col span_1_of_3">
                <a href="/bt/【BT吧】[720p高清完整版]-斗鱼tv-郭mini直播脱衣漏点露鲍鱼无码完整版视频-122.16MB.torrent" onclick="show()" target="">
                    <div class="view effect">
                        <img src="img/3473675P31d582.big.jpg" alt="斗鱼tv-郭mini直播脱衣漏点露鲍鱼无码完整版视频-720p|1080p高清bt种子下载" title="斗鱼tv-郭mini直播脱衣漏点露鲍鱼无码完整版视频">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                        </div>
                    </div>
                </a>
                <div class="h-text">
                    <a href="/bt/【BT吧】[720p高清完整版]-斗鱼tv-郭mini直播脱衣漏点露鲍鱼无码完整版视频-122.16MB.torrent" onclick="show()" target="">
                        <p class="para">斗鱼tv-郭mini直播脱衣漏点露鲍鱼无码完整版视频</p>
                    </a>
                </div>
            </div>
            <div class="col span_1_of_3">
                <a href="/bt/【BT吧】[完整版全集]-【热】上海陆家嘴29秒视频完整版全集-82.96MB.torrent" onclick="show()" target="">
                    <div class="view effect">
                        <img src="img/1462742436G0Z4.big.jpg" alt="【热】上海陆家嘴29秒视频完整版全集-720p|1080p高清bt种子下载" title="【热】上海陆家嘴29秒视频完整版全集">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                        </div>
                    </div>
                </a>

                <div class="h-text">
                    <a href="/bt/【BT吧】[完整版全集]-【热】上海陆家嘴29秒视频完整版全集-82.96MB.torrent" onclick="show()" target="">
                        <p class="para">【热】上海陆家嘴29秒视频完整版全集</p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="gallery-top">
            <div class="col span_1_of_3">
                <a href="/bt/【BT吧】[720p]-最新直播门事件-斗鱼TV网络直播XXX-71.13MB.torrent" onclick="show()" target="">
                    <div class="view effect">
                        <img src="/img/595v7704V10240.big.jpg" alt="最新直播门事件-斗鱼TV网络直播XXX-720p|1080p高清bt种子下载" title="最新直播门事件-斗鱼TV网络直播XXX">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                        </div>
                    </div>
                </a>
                <div class="h-text">
                    <a href="/bt/【BT吧】[720p]-最新直播门事件-斗鱼TV网络直播XXX-71.13MB.torrent" onclick="show()" target="">
                        <p class="para">最新直播门事件-斗鱼TV网络直播XXX</p>
                    </a>

                </div>
            </div>
            <div class="col span_1_of_3">
                <a href="/bt/【BT吧】[劲爆]-王心凌刚出道不久在家被XXOO24秒完整版泄密视频-3.39MB.torrent" onclick="show()" target="">
                    <div class="view effect">
                        <img src="/img/86472R251O6714.big.jpg" alt="王心凌刚出道不久在家被XXOO24秒完整版泄密视频-720p|1080p高清bt种子下载" title="王心凌刚出道不久在家被XXOO24秒完整版泄密视频">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                        </div>
                    </div>
                </a>
                <div class="h-text">
                    <a href="/bt/【BT吧】[劲爆]-王心凌刚出道不久在家被XXOO24秒完整版泄密视频-3.39MB.torrent" onclick="show()" target="">
                        <p class="para">王心凌刚出道不久在家被XXOO24秒完整版泄密视频(表示有点坑爹)</p>
                    </a>

                </div>
            </div>
            <div class="col span_1_of_3">
                <a href="/bt/【BT吧】[原版视频]-三里屯优衣库试衣间不雅视频-6.44MB.torrent" onclick="show()" target="">
                    <div class="view effect">
                        <img src="/img/OwpRknQN_Ea7gRuuDtOcyrzFkIlsR.big.jpg" alt="三里屯优衣库试衣间不雅视频-720p|1080p高清bt种子下载" title="三里屯优衣库试衣间不雅视频">
                        <div class="mask"></div>
                        <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                        </div>
                    </div>
                </a>
                <div class="h-text">
                    <a href="/bt/【BT吧】[原版视频]-三里屯优衣库试衣间不雅视频-6.44MB.torrent" onclick="show()">
                        <p class="para">三里屯优衣库试衣间不雅视频</p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="gallery-top"></div>
    </div>
</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260554679'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260554679%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>