<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<html>
<head>
<title>easy show</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<script src="/js/responsive-nav.js"></script>

</head>
<body>
	<div class="header-top">
		 <div role="navigation" id="nav">
		      <ul>
		        <li><a href="easyshow">主页</a></li>
		        <li><a href="about">电影资源</a></li>
		        <li class="active"><a href="gallery">web学习视频</a></li>
		        <li><a href="contact">手机开发视频</a></li>
		        <li><a href="404">留言板</a></li>
		      </ul>
	    </div>
    </div>
	<div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="header">
	     <div class="logo">
	     	<a href="index"><img src="/img/logo1.png" alt=""/></a>
	     </div>
	     <ul class="follow_icon">
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon1.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon2.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon3.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon4.png" alt=""></a></li>
			<li><a href="#" style="opacity: 1;"><img src="/img/follow_icon5.png" alt=""></a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<!-- <div class="content"> -->
</br>
    <p class="title">温馨提示：需要什么电影资源可以在留言板里面留言。我们会尽最大的努力为您查找。</p>
        <div class="gallery">
        <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1kTFWC7t
                    " onclick="show()" target="" ><div class="view effect">
                         <img src="/img/html.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1kTFWC7t" onclick="show()" target=""><p class="para">html5+css3视频教程</p></a>
                                <!--<p class="light">soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;.</p>-->
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1qWuhLrm" onclick="show()" target=""><div class="view effect">
                         <img src="/img/js.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1qWuhLrm" onclick="show()" target=""><p class="para">&nbsp;&nbsp; javascript视频教程</p></a>
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1i31N5op" onclick="show()" target=""><div class="view effect">
                         <img src="/img/js.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div></a>
                    
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1i31N5op" onclick="show()" target=""><p class="para">&nbsp; javascript网页游戏教程</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>  
            <div class="gallery-top">
            <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1pJBeHYV" onclick="show()" target=""><div class="view effect">
                         <img src="/img/jquery.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1pJBeHYV" onclick="show()" target=""><p class="para">Ajax和Jquery基础视频</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1eQtMiDs" onclick="show()" target=""><div class="view effect">
                         <img src="/img/php.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1eQtMiDs" onclick="show()" target=""><p class="para">&nbsp; php从入门到精通</p></a>
                               
                        </div>
                </div>
                <div class="col span_1_of_3">
                    <a href="http://pan.baidu.com/s/1mgKEr8W" onclick="show()" target=""><div class="view effect">
                         <img src="/img/mysql.jpg" alt=""/>
                         <div class="mask"></div>
                         <div class="content">
                            <a href="#" class="info" title="Full Image">Full Image</a>
                         </div>
                    </div> </a>
                        <div class="h-text">
                                <a href="http://pan.baidu.com/s/1mgKEr8W" onclick="show()"><p class="para">&nbsp; mysql视频教程</p></a>
                        </div>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260554679'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260554679%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
